#root {
  background: #333;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
html {
  background: #333;
}
body {
  background: #333;
}
header {
  background: #333;
  color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}
.topPadding {
  margin-top: 70px;
}
.box-container {
  /*padding-top: 20px;*/
  background: white;
  box-shadow: 3px 3px 3px #999;
  padding-top: 1.5rem;
}
.box {
  padding: 5%;
  cursor: pointer;
}
.box div {
  height: 0;
  padding-bottom: 100%;
  border: 5px solid rgba(0,0,0,.5);
  /*border-radius: 50%;*/
  transition: transform .2s ease;

}

.box:hover div{
  transform: scale(1.03);
}

.box:active div{
  transform: scale(.9);
}

.reactmodal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.instructions {
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.instructions p {
  margin: 0;
}
.instructions .dismiss {
  text-decoration: underline;
  transition: opacity .2s ease;
}
.instructions .dismiss:hover {
  cursor:pointer;
  opacity: .75;
}
.fade-enter {
  opacity: 0;
  height: 0%;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: 500ms;
  height: 100%;
}

.fade-leave {
  opacity: 1;
  transform: scale(1);
  /*transform-origin: top;*/
  max-height: 100px;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: 500ms;
  transform: scale(1,0);
  max-height: 0px;
}
.fadeOut {
  animation: fade .25s forwards;
}

.fadeIn {
  animation: fadeIn .25s;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fade {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}