body {
  background: #333;
}
header {
  background: #333;
  color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}
.topPadding {
  margin-top: 70px;
}
.box-container {
  /*padding-top: 20px;*/
  background: white;
  box-shadow: 3px 3px 3px #999;
  padding-top: 1.5rem;
}
.box {
  padding: 5%;
  cursor: pointer;
}
.box div {
  height: 0;
  padding-bottom: 100%;
  border: 5px solid rgba(0,0,0,.5);
  border-radius: 50%;
  transition: transform .2s ease;
}

.box:hover div{
  transform: scale(1.03);
}

.box:active div{
  transform: scale(.9);
}

.reactmodal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.instructions {
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 24px;
}

.instructions p {
  margin: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: 2000ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: 2000ms;
}

